<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
         <li class="nav-item" >
          <a class="nav-link" routerLink="employee-page" >Employee Form</a>
        </li>
        <li class="nav-item"   >
          <a class="nav-link active" routerLink="user-page" >User</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="data-binding-page">Data Binding</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="control-flow-page" >Control Flow</a>
        </li>
           <li class="nav-item" >
          <a class="nav-link" routerLink="dynamic-styling-page" >Dynamic Styling</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>

<i>*this navbar is getting rendered from the app.component.default--SAP</i>
<router-outlet></router-outlet>



