body{
    display: flex;
    justify-content: center;
    margin-top: 23px ;
}
#wrapper{
    background-color: rgba(221, 230, 99, 0.63);
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#input-div{
    background-color: pink;
    height: 100px;
    width: 250px;
    text-align: center;
    padding-bottom: 5px;
}

#btn-div{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
    margin: 20px;
}
#print{
    font-size: 23px;
    display: flex;
    gap: 23px;
}
#city-list{
    display: flex;
    gap: 23px;
}